/*
    Colores personalizados
    blanco: #F4EBD0
    negro: #B68D40
    hover: #D6AD60
    bordes: #122620
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Estilos Generales */
* {
  background-color: #f4ebd0; /* Fondo color crema */
  color: #b68d40; /* Texto color dorado */
  margin: 0; /* Sin márgenes por defecto */
  padding: 0; /* Sin relleno por defecto */
  box-sizing: border-box; /* Incluye padding y borde en el cálculo del ancho y alto */
  text-align: justify; /* Justifica el texto */
  text-align: justify; /* Justificar el texto */
}

/* Enlaces */
a {
  text-decoration: none; /* Sin subrayado en los enlaces */
}

/* Lista del menú */
ul {
  list-style-type: none; /* Sin viñetas en las listas */
  margin: 0; /* Sin márgenes */
  padding: 0; /* Sin relleno */
  overflow: hidden; /* Evita que el contenido se salga del contenedor */
  position: sticky; /* Fija la posición al hacer scroll */
  top: 0; /* Se adhiere a la parte superior de la página */
  text-align: center; /* Centra el contenido de la lista */
}

/* Elementos de la lista del menú */
li {
  display: inline-block; /* Muestra los elementos en línea */
  padding: 10px 20px; /* Relleno interno de los elementos */
}

/* Contenedor del menú */
#top {
  display: flex; /* Usa flexbox para la disposición */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #f4ebd0; /* Fondo color crema */
  color: #b68d40; /* Texto color dorado */
  font-size: 2vw; /* Tamaño de fuente relativo al ancho de la ventana */
  position: fixed; /* Fija el menú en la parte superior de la página */
  top: 0; /* Alinea con el borde superior */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  z-index: 1000; /* Asegura que el menú esté en la parte superior de otros elementos */
  padding: 10px 0; /* Relleno interno vertical */
  border: 5px solid #122620; /* Borde color oscuro */
}

/* Imagen dentro de la navegación */
.navigation img {
  margin-right: 50vw; /* Margen derecho igual a la mitad del ancho de la ventana */
  margin-left: 50vw; /* Margen izquierdo igual a la mitad del ancho de la ventana */
}

/* Agrega un margen superior al contenido principal para que no sea ocultado por el menú de navegación */
.contents {
  margin-top: 70px; /* Ajusta según la altura del menú de navegación */
}

/* Ajusta el estilo de las tarjetas */
.card {
  box-shadow: 0 4px 8px 0 #122620; /* Sombra de la tarjeta */
  transition: 0.3s; /* Transición suave para efectos */
  width: 80%; /* Ajusta el ancho de las tarjetas */
  margin: 20px auto; /* Centra las tarjetas horizontalmente */
}

.card img {
  width: 100%; /* Asegura que la imagen ocupe el 100% del ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Botones de navegación */
.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.nav-button {
  background-color: #b68d40; /* Color de fondo de los botones */
  color: #f4ebd0; /* Color del texto de los botones */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Relleno interno de los botones */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 1em; /* Tamaño de la fuente */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.nav-button:hover {
  background-color: #D6AD60; /* Color de fondo al pasar el cursor */
}

/* Contenedor dentro de la tarjeta */
.container {
  padding: 2px 16px; /* Relleno interno */
  text-align: center; /* Justificar el texto */
}

/* Imagen dentro de la tarjeta */
.show img {
  border-radius: 5px 5px 0 0; /* Bordes redondeados en la parte superior */
}

/* Divisores horizontales */
.division {
  display: block; /* Elemento de bloque */
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 1px; /* Altura del divisor */
  background-color: #b68d40; /* Color del divisor */
  margin: 100px 0; /* Márgenes verticales */
}